* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}

:root {
    --basic-black: #000000;
    --basic-colour: #81B3D2;
    --basic-neutral: #e5e5e5;
    --basic-white: #ffffff;

    --special-colour: #766357;
}

body {
    width: 1220px;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    color: var(--basic-black);
    text-transform: uppercase; 
}

a {
    text-decoration: none;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;   
}

 .main-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-navigation {
    min-width: 138px;
    min-height: 70px;
    position: absolute; 
    z-index: 3;  
}

.site-navigation {
    width: 100%;
    min-height: 26px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    list-style: none;   
}

li {
    margin: 15px 72px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: var(--basic-black);
    text-transform: uppercase;
}  

.site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
}

.site-navigation a:active {
    background-color: #000000;
    opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: var(--basic-colour);
}

.container {
    width: 1215px;
    margin: 0 auto;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url(..//img/bcg-intro.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.intro-img {
    min-height: 509px;
    position: absolute;
}

.intro-slogan {
    position: relative;
    min-width: 457px;
    min-height: 351px;
    top: 71px;
    left: 372px;
    align-items: center;
    background-image: url(..//img/intro-welcome.svg);
    background-repeat: no-repeat;
}

.intro-mask {
    width: 100%;
    min-height: 57px;
    margin-top: 453px;
    margin-bottom: 42px;
    background-image: url(../img/intro-mask.svg);
    
 .advantage {
    width: 100%;
 }  
    
.advantage-wrapper {
    display: flex;
	justify-content: space-between;
    align-items: center;
}

.advantage-title {
    /* margin-top: 41px;
    margin-right: 365px;
    margin-left: 365px;
    margin-bottom: 16px; */
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.advantage-text {
    
    /* margin-left: 340px;
    margin-right: 340px;
    margin-bottom: 51px; */
    font-size: 14px;
    line-height: 26px;
}

